.intro-image {
  width: 100%;
  height: auto;
  margin-top: -40px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -111px;
    left: -50px;
    width: 646px;
  }
  @include media-breakpoint-up(lg) {
    bottom: -101px;
    left: -60px;
    width: 746px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -171px;
    left: -117px;
    width: 834px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
